<h1>Editing dia semana</h1>

<%= render "form", dia_semana: @dia_semana %>

<br>

<div>
  <%= link_to "Show this dia semana", @dia_semana %> |
  <%= link_to "Back to dia semanas", dia_semanas_path %>
</div>
