<div id="<%= dom_id floor %>">
  <p>
    <strong>Nom pis:</strong>
    <%= floor.NOM_PIS %>
  </p>

  <p>
    <strong>Des pis:</strong>
    <%= floor.DES_PIS %>
  </p>

  <p>
    <strong>Img pis:</strong>
    <%= floor.IMG_PIS %>
  </p>

</div>
