<div id="<%= dom_id horario_academico %>">
  <p>
    <strong>Room:</strong>
    <%= horario_academico.Room_id %>
  </p>

  <p>
    <strong>Fecha inicio:</strong>
    <%= horario_academico.fecha_inicio %>
  </p>

  <p>
    <strong>Fecha fin:</strong>
    <%= horario_academico.fecha_fin %>
  </p>

</div>
