<h1>Editing horario academico</h1>

<%= render "form", horario_academico: @horario_academico %>

<br>

<div>
  <%= link_to "Show this horario academico", @horario_academico %> |
  <%= link_to "Back to horario academicos", horario_academicos_path %>
</div>
