.navbar {
  background-color: #333;
  color: #fff;
}

.nav-link {
  color: #fff;
}

.Inicio {
  height: 900px;
}

.title-lab {
  font-size: 2.5em;
  text-align: center;
  color: black;
}

/* Estilos CSS */
.flex-container {
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en una columna */
  align-items: center; /* Ajusta según sea necesario */
}

.inicio {
  margin-top: 20px; /* Ajusta según sea necesario */
  height: 1000px;
}

.text-carrousel {
  color: white;
  font-size: 1.2em;
  text-align: justify;
  margin: 50px;

}

.text-secondary {
  text-align: justify;
}

.desc-carrousel  {
  background-color: #333;
  padding: 0;
  border-radius: 10px;
}

/* Footer.css */

.card{
  background-color: #333;
  color: #fff;
  text-align: center;
  margin-top: 30px;
}

.card-text {
  color: #fff;
}
.footer-container {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.add-reservation {
  margin: 0;
  background-color: grey;
  padding: 40px;
}

.form-select{ 
  margin-bottom: 20px;
}


