.navbar {
    background-color: var(--colorbotonesmenuhamburguesa);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .navbar_text {
    color: rgb(255, 255, 255);
    width: 150vh;
    line-height: 15px;
  }
  .navbar_img {
    height: 12vh;
    padding: 5px;
    right: 0;
  }
  .MENU_RESPONSIVE {
    width: 20vh;
    margin-right: 0;
    cursor: pointer;
  }
  .MENU_RESPONSIVE img{
    position: relative;
    color: aliceblue;
    width: 75%;
    height: 85%;
    z-index: 80;
  }
  .nav_links {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 25%;
    height: 89.5%;
    background-color: rgb(46, 46, 46);
    right: 0;
    top: 0;
    z-index: 70;
    padding: 100px 0px 0px 0px;
    visibility: hidden;
  }.nav_links--show{
      visibility: visible;
  }
  .nav_links a {
    height: 10%;
    background-color: rgb(89, 0, 0);
    border-radius: 25px;
    margin: 5%;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .nav_links .perfil {
    margin-top: 65%;
  }