body{
    margin: 0;
    width: 100%;
    height: auto;
}
.containerNew{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    .containerNew_img{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .imagen{
            width: 40%;
        }
    }
    .containerNew_form{
        width: 50%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
}
.containerNew_form h1{
    line-height: 20px;
    color: var(--colorsecundario);
    align-items: flex-start;
}
.containerNew_form select{
    border-radius: 8px;
    border: 5px solid var(--colorsecundario);
    width: 90%;
    height: 50px;
    margin: 0 8px;
    font-size: larger;
}
.containerNew_form textarea{
    border-radius: 8px;
    border: 5px solid var(--colorsecundario);
    width: 90%;
    height: 27%;
    margin: 8px 8px;
    font-size: larger;
    text-align: left;
    vertical-align: top;
    line-height: 25px;
    padding: 0 12px;
}.containerNew_form button{
    align-items: center;
    margin: 0 28%;
    padding: 4% 0;
    font-size: 25px
}