<h1>Editing intervalo horario</h1>

<%= render "form", intervalo_horario: @intervalo_horario %>

<br>

<div>
  <%= link_to "Show this intervalo horario", @intervalo_horario %> |
  <%= link_to "Back to intervalo horarios", intervalo_horarios_path %>
</div>
